{% extends "layout.html" %}
{% block content %}
<h3>Admins:</h3>
{% for user in admins_list %}
<article class="media content-section">
    <div class="media-body">
        <p>{{ user.name }}</p>
        <p>Username : {{ user.username }} || Email : {{ user.email }}</p>
        <a href="{{url_for('admins.delete_admin',user_id=user.id)}}">
            <button type="button" type="button" class= "btn-outline-info">Delete!</button>
        </a>
    </div>
</article>
{% endfor %}
{% endblock content %}

