{%extends 'layout.html'%}
{%block content%}
	<div class = "content-section">
		<form method = "POST" action = "">
			{{form.hidden_tag()}}
			<fieldset class = "form-group">
				<label for="company_id">Company:</label>
				<select name="company_id" id="company_id">
					{% for company in companies %}
						<option value="{{ company.id }}">{{ company.company_name }}</option>
					{% endfor %}
				</select>
			</fieldset>
			<div class = "form-group">
				{{form.submit(class= "btn btn-outline-info")}}
			</div>
		</form>
	</div>

{%endblock content%}