{%extends 'layout.html'%}
{%block content%}
	<div class = "content-section">
		<form method = "POST" action = "">
			{{form.hidden_tag()}}
			<fieldset class = "form-group">
				<label for="category_id">Category:</label>
				<select name="category_id" id="category_id">
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.category }}</option>
					{% endfor %}
				</select>
			</fieldset>
			<div class = "form-group">
				{{form.submit(class= "btn btn-outline-info")}}
			</div>
		</form>
	</div>

{%endblock content%}