{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated and current_user.is_super_admin %}
        <div class="row mb-3">
            <div class="col-md-6 text-center">
                <a href="{{url_for('admins.create_admins')}}" ><span><button type="button" class="btn btn-default btn-lg colorbutton">Create Admins</button></span></a>
            </div>
            <div class="col-md-6 text-center">
                <a href="{{url_for('admins.admin_list')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete Admins</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.add_city')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Add City</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.update_city')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Update City</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.delete_city')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete City</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.add_company')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Add Car Company</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.update_company')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Update Car Company</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.delete_company')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete Car Company</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.add_category')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Add Car Category</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.update_category')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Update Car Category</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.delete_category')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete Car Category</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.add_model')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Add Car Model</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.update_model')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Update Car Model</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('admins.delete_model')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete Car Model</button></span></a>
            </div>
        </div>
    {% endif %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.create_cars')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Add Cars</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.get_car')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Update Cars</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.get_delete_car')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Delete Cars</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('users.display_users_list')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Verify Users</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.cars_taking_list')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Cars Taken</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.cars_delivery_list')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Car Delivery</button></span></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.cars_taking_list_late')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Cars Taken(Late)</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.cars_delivery_list_late')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Car Delivery(Late)</button></span></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{url_for('cars.get_maintenance_car')}}"><span><button type="button" class="btn btn-default btn-lg colorbutton">Car Maintenance</button></span></a>
            </div>
        </div>
    {% else %}
        {% if current_user.is_authenticated and current_user.is_admin==False and current_user.is_super_admin==False %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p>From : {{ dates.rent_from }}</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <p>To : {{ dates.rent_till }}</p>
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
        {% for car in cars.items %}
            <article class="media content-section">
                <div class="media-body">
                    <p class="article-content">Car ID : {{ car.car_id }}</p>
                    <p class="article-content">Company : {{ car.company.company_name }}</p>
                    <p class="article-content">Model : {{ car.model.model_name }}</p>
                    <p class="article-content">Category : {{ car.category.category }}</p>
                    <p class="article-content">Color : {{ car.color }}</p>
                    <p class="article-content">Mileage : {{ car.mileage }}</p>
                    <p class="article-content">City : {{ car.city.city }}</p>
                    <a href="{{url_for('cars.view_car', car_id=car.car_id)}}"><button type="button" class= "btn-outline-info">View Car!</button></a>
                </div>
            </article>
        {% endfor %}
        {% for page_num in cars.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if cars.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}