{%extends 'layout.html'%}
{%block content%}
	<div class = "content-section">
		<form method = "POST" action = "">
			{{form.hidden_tag()}}
			<fieldset class = "form-group">
				<legend class = "border-bottom mb-4">Update Model</legend>
				<label for="model_id">Model:</label>
				<select name="model_id" id="model_id">
					{% for model in models %}
						<option value="{{ model.id }}">{{ model.model_name }}</option>
					{% endfor %}
				</select>
				<div class = "form-group">
					{{form.model_name.label(class="form-control-label")}}
					{%if form.model_name.errors%}
						{{form.model_name(class="form-control form-control-lg is-invalid")}}
						<div class= "invalid-feedback">
							{%for error in form.model_name.errors%}
								<span>{{error}}</span>
							{%endfor%}
						</div>
					{%else%}
						{{form.model_name(class="form-control form-control-lg form_filed")}}
					{%endif%}
				</div>
			</fieldset>
			<div class = "form-group">
				{{form.submit(class= "btn btn-outline-info")}}
			</div>
		</form>
	</div>
{%endblock content%}