{%extends 'layout.html'%}
{%block content%}
	<div class = "content-section">
		<form method = "POST" action = "">
			{{form.hidden_tag()}}
			<fieldset class = "form-group">
				<legend class = "border-bottom mb-4">Update Category</legend>
				<label for="category_id">Category:</label>
				<select name="category_id" id="category_id">
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.category }}</option>
					{% endfor %}
				</select>
				<div class = "form-group">
					{{form.category.label(class="form-control-label")}}
					{%if form.category.errors%}
						{{form.category(class="form-control form-control-lg is-invalid")}}
						<div class= "invalid-feedback">
							{%for error in form.category.errors%}
								<span>{{error}}</span>
							{%endfor%}
						</div>
					{%else%}
						{{form.category(class="form-control form-control-lg form_filed")}}
					{%endif%}
				</div>
			</fieldset>
			<div class = "form-group">
				{{form.submit(class= "btn btn-outline-info")}}
			</div>
		</form>
	</div>

{%endblock content%}